[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql="*"
requests="*"
configparser="*"
pandas="*"
Flask="*"
bs4="*"
flask-migrate="*"
Flask-SQLAlchemy = "*"
flask-session="*"
flask-redis="*"
SQLAlchemy="*"

[dev-packages]

[requires]
python_version = "3.7.1"
