[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql="*"
requests="*"
configparser="*"
Flask="*"
bs4="*"
Flask-SQLAlchemy = "*"
Flask-session="*"
Flask-redis="*"
sqlalchemy="*"
flask_redis="*"
gunicorn="*"
pytest="*"

[dev-packages]

[requires]
python_version = "3.7.2"
