[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql="*"
requests="*"
configparser="*"
Flask="*"
bs4="*"
Flask-SQLAlchemy = "*"
Flask-redis="*"
sqlalchemy="*"
sendgrid = "*"
python-http-client = "*"
libgravatar = "*"
mixpanel_api="*"
mixpanel="*"
pandas="*"
aylien-apiclient="*"

[dev-packages]
python-dotenv="*"

[requires]
python_version = "3.7.2"
