<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{title}}</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="shortcut icon" href="" type="image/x-icon" />
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/all.css') }}" type="text/css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-6jHF7Z3XI3fF4XZixAuSu0gGKrXwoX/w3uFPxC56OtjChio7wtTGJWRW53Nhx6Ev" crossorigin="anonymous">
  <script src="{{ url_for('static', filename='dist/packed.js') }}"></script>
  <script src="{{ url_for('static', filename='dist/jquery-3-3-1.min.js') }}"></script>
</head>

<body class="{{template}}">
  {% block content %}{% endblock %}
</body>

</html>
